html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, Calibri;
  font-size: 17px; }

.wrapper {
  height: 100%;
  overflow: hidden; }

.main-container {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  transition: top 1.4s; }

.page {
  width: 100%;
  height: 100%;
  position: relative; }
  .page__section-1 {
    background-color: #404040;
    overflow: hidden;
    z-index: 100; }
  .page__section-2 {
    background-color: #101fff;
    overflow: hidden;
    z-index: 10; }
  .page__section-3 {
    background-color: #ffc230;
    z-index: 1; }

.section-1, .section-2, .section-3 {
  min-width: 900px;
  max-width: 1280px;
  padding: 0 75px;
  position: absolute;
  height: 500px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto; }
  .section-1__photo {
    margin-top: 16px;
    margin-right: 5px;
    height: 500px;
    width: 250px;
    background: url("../img/me.jpg");
    float: left; }
  .section-1__about-me {
    text-align: justify;
    color: #4E8298; }
    .section-1__about-me-tittle {
      display: block;
      margin-top: 20px; }
  .section-1__side {
    margin-top: 17px;
    margin-right: 6px;
    font-weight: 400;
    color: white;
    text-align: center;
    writing-mode: vertical-rl;
    float: left;
    display: inline-block;
    height: 85px;
    width: 20px;
    background-color: #23789d; }

.skills {
  height: 82px; }
  .skills:after {
    content: "";
    display: table;
    clear: both; }
  .skills__tittle {
    background-color: #00AA00; }
  .skills__list {
    list-style: none; }
    .skills__list__item {
      float: left;
      display: inline-block;
      padding: 10px 25px;
      margin: 0 5px 5px 0;
      background: #2C98C7;
      font-weight: 600;
      color: white; }

.nav {
  overflow: hidden;
  height: 100%;
  background-color: rgba(52, 52, 52, 0.7);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000; }
  .nav__list {
    position: relative;
    top: 40%;
    list-style: none;
    padding: 0 20px; }
  .nav__item {
    background-color: #BC514B;
    margin-bottom: 20px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    cursor: pointer; }
    .nav__item:hover {
      background-color: white; }

.section-2 {
  width: 900px; }
  .section-2__tittle {
    text-align: center;
    font-size: 46px;
    color: white; }

.slide-show__list {
  padding: 0;
  float: left;
  list-style: none; }

.slide-show__img {
  height: 100px;
  width: 150px;
  overflow: hidden; }

.slide-show__display {
  padding-left: 25px;
  padding-top: 26px;
  height: 400px;
  overflow: hidden; }

.section-3 {
  height: 300px; }

.contacts {
  text-align: center; }
  .contacts__tittle {
    margin: 0;
    padding: 0;
    font-size: 46px;
    color: #BC514B; }
  .contacts__message {
    margin: 0 0 40px 0;
    padding: 0; }
  .contacts__email-label {
    margin: 0;
    padding: 0;
    font-size: 17px; }
  .contacts__email-inner {
    margin: 0 0 30px 0;
    padding: 0;
    font-size: 32px;
    font-weight: 600; }
  .contacts__phone-label {
    margin: 0;
    padding: 0; }
  .contacts__phone-number {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 600; }
